* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: #4481EB;
  display: flex;
  flex-direction: column;
}

.conteiner-menu {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 80px;
  padding: 8px;
}

.conteiner-menu h1{
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo{
  display:flex;
  align-items: center;
  gap: 10px;
}

.logo img{
  width: 40px;
  margin-left: 20px;
}

.conteiner-menu ul{
  display: flex;
  gap: 50px;
  align-items: center;
}

.conteiner-menu ul li{
  list-style: none;
  text-transform: uppercase;
  color: white;
}

.nav{
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.nav img{
  width: 22px;
}

.conteiner-banner{
  display: flex;
  align-items: center;
}
.imagem-banner {
  display: flex;
  justify-content: space-between;
}
.imagem-banner img{
  width: 500px;
}

.owl-carousel .item img{
  width: 200px;
}