* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 233, 222);
}


.title-main{
    display: flex;
    justify-content: center;    
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    
    
}

.title-main p{
    border-bottom: #4481EB solid 1px;
}

.conteiner-main{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 160px;
}

.text-main {
    flex-direction: column;
    margin-left: 20px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 121.429% */
    letter-spacing: 2px;
}

.video-main{
    margin-right: 20px;
}
